pandas
torch
pytorch-lightning>=1.5.10
torchvision
albumentations
argh
matplotlib
segmentation_models_pytorch@https://github.com/qubvel/segmentation_models.pytorch/archive/refs/heads/master.zip
monai@https://github.com/Project-MONAI/MONAI/archive/refs/heads/master.zip
lightningdata@https://github.com/brandongk-ubco/lightning-data/archive/refs/heads/master.zip
jsonargparse[signatures]
pefile
lightning-bolts